html{
    background-color: white
}
.header-logo{
    font-size: 25px;
    border-bottom: 0px;
    color: #000000;
    height: 50px;
    text-align: center;
    background: #FFFFFF !important;

    display: block;
    float: left;
    width: 100%;
    line-height: 19px;
    color: #8b91a0;
    font-size: 13px;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    border-bottom: 1px solid #17191e;
}

.active{
    background-color: red;
}

.footer {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    max-height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    text-align: center;
}