<!-- START PAGE CONTAINER -->
<div class="page-container page-navigation-top">

  <!-- START PAGE SIDEBAR -->
  <div class="page-content">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation x-navigation-horizontal">
      <li class="xn-logo">
        <a class="header-logo" style="padding: 0px;cursor: pointer" [routerLink]="['/dashboard']" (click)="active('accueil')">
          <img style="height: 50px" src="./../../assets/img/logo.png" alt="John Doe" />
        </a>
        <a href="#" class="x-navigation-control"></a>
      </li>
      <li>
        <a style="cursor: pointer" [routerLink]="['/dashboard']" id="accueil" class="active" (click)="active('accueil')">
          <span class="fa fa-dashboard"></span>
          <span class="xn-text">Accueil</span>
        </a>
      </li>
      <li *ngFor="let f of filieres">
        <a style="cursor: pointer" [routerLink]="['/classes', f.idFiliere]" id="{{f.libelleFiliere}}" (click)="active(f.libelleFiliere)">
          <span class="fa {{f.iconFiliere}}"></span>
          <span class="xn-text">{{f.libelleFiliere}}</span>
        </a>
      </li>
      <li *ngIf="user.role === 'Admin'">
        <a style="cursor: pointer" [routerLink]="['/majFiliere']" id="majFiliere" (click)="active('majFiliere')">
          <span class="fa fa-graduation-cap"></span>
          <span class="xn-text">MAJ Filiere</span>
        </a>
      </li>
      <li *ngIf="user.role === 'Admin'">
        <a style="cursor: pointer" [routerLink]="['/majMatiere']" id="majMatiere" (click)="active('majMatiere')">
          <span class="fa fa-file"></span>
          <span class="xn-text">MAJ Matiere</span>
        </a>
      </li>
      <li *ngIf="user.role === 'Admin'">
        <a style="cursor: pointer" [routerLink]="['/majCours']" id="majCours" (click)="active('majCours')">
          <span class="fa fa-book"></span>
          <span class="xn-text">MAJ Cours</span>
        </a>
      </li>
      <li *ngIf="user.role === 'Admin'">
        <a style="cursor: pointer" [routerLink]="['/majUser']" id="majUser" (click)="active('majUser')">
          <span class="fa fa-user"></span>
          <span class="xn-text">MAJ Utilisateur</span>
        </a>
      </li>
      <!-- SIGN OUT -->
      <li class="xn-icon-button pull-right">
        <a style="cursor: pointer" class="mb-control" (click)="openPopup()" data-box="#mb-signout">
          <span class="fa fa-sign-out"></span>
        </a>
      </li>
      <!-- END SIGN OUT -->
    </ul>

    <router-outlet></router-outlet>
    <!-- END X-NAVIGATION -->


  </div>
  <!-- END PAGE SIDEBAR -->
  <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
  <div class="mb-container">
    <div class="mb-middle">
      <div class="mb-title">
        <span class="fa fa-sign-out"></span>
        <strong>déconnecter</strong> ?</div>
      <div class="mb-content">
        <p>Êtes-vous sûr de vouloir vous déconnecter?</p>
        <p>Appuyez sur Non si vous voulez continuer le travail. Appuyez sur Oui pour déconnecter l'utilisateur actuel.</p>
      </div>
      <div class="mb-footer">
        <div class="pull-right">
          <a (click)="logout()" class="btn btn-success btn-lg">Oui</a>
          <button (click)="closePopup()" class="btn btn-default btn-lg mb-control-close">Non</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END MESSAGE BOX-->
<div class="footer" style="display: none">
  <div class="footer-inner">
    <div class="footer-content">
      <span class="bigger-120">
        <span class="grey bolder">
          <a href="http://www.isga.ma" target="_blank" style="text-decoration-line: none;color: white">ISGA</a>
        </span> - Rabat &copy; 2017
      </span>
    </div>
  </div>
</div>