<div class="page-title" style="text-align: center;padding: 20px 10px">
   <h2 style="float: none!important;margin-bottom: 0px!important">{{filiere.libelleFiliere}}</h2>
</div>
<div class="page-content-wrap">
  <div class="row">
      <div class="col-md-3" *ngFor="let m of matieres" title="{{m.libelleMatiere}}">                        
          <a [routerLink]="['/cours', m.idMatiere]" style="overflow: hidden;text-overflow: ellipsis;" class="tile tile-danger tile-valign">{{m.libelleMatiere}}</a>                        
      </div>
  </div>
</div>