<div class="page-title" style="text-align: center;padding: 20px 10px">
  <h2 *ngIf="user.role === 'Admin'" style="float: none!important;margin-bottom: 0px!important">Mise à jour Utilisateur</h2>
</div>
<div class="page-content-wrap">
  <div *ngIf="user.role === 'Admin'" class="row">
    good
  </div>
  <div *ngIf="user.role !== 'Admin'" class="row" style="text-align: center">
    <img src="../../assets/cours/404.png" style="width: 50%" />
  </div>
</div>