<div class="login-container lightmode">

  <div class="login-box animated fadeInDown">
    <div class="login-logo"></div>
    <div class="login-body">
      <div class="login-title"><strong>Connectez-vous</strong> à votre compte</div>
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Nom d'utilisateur" (keydown)="loginEvn($event)" [(ngModel)]="username" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="password" class="form-control" placeholder="Mot de passe" (keydown)="loginEvn($event)" [(ngModel)]="password" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <!-- <a href="#" class="btn btn-link btn-block black">Mot de passe oublié ?</a> -->
          </div>
          <div class="col-md-6">
            <button [disabled]="loading" (click)='login()' class="btn btn-info btn-block">S'identifier</button>
          </div>
        </div>
        <div class="form-group">
          <div class="login-loader" *ngIf="loading">
            <img src="../../assets/img/loaders/default.gif" alt="Attendre svp !" />
          </div>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="msgError !== ''">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>            {{msgError}}
          </div>
        </div>
      </div>
    </div>

    <div class="login-footer">
      <div class="pull-left black">
        &copy; 2017 ISGA Goupe
      </div>
    </div>
  </div>

</div>