<div class="page-title" style="text-align: center;padding: 20px 10px">
  <h2 *ngIf="user.role === 'Admin'" style="float: none!important;margin-bottom: 0px!important">Mise à jour Filières</h2>
</div>
<div class="page-content-wrap">
  <div *ngIf="user.role === 'Admin'" class="row">
    <div class="col-md-12">

      <div class="form-horizontal">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <strong>Ajouter une filière</strong>
            </h3>
          </div>
          <div class="panel-body">

            <div class="row">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="col-md-3 control-label">Titre</label>
                  <div class="col-md-9">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Titre du filière" />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Icone</label>
                  <div class="col-md-9">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Font Awesome" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label">Image</label>
                  <div class="col-md-9">
                    <input type="file" class="fileinput btn-primary" accept="image/*" name="filename" id="filename" title="Parcourir l'image"
                    />
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="panel-footer">
            <button class="btn btn-default">Vider</button>
            <button class="btn btn-primary pull-right">Ajouter</button>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Liste des filières</h3>
          <ul class="panel-controls">
            <li>
              <a href="#" class="panel-collapse">
                <span class="fa fa-angle-down"></span>
              </a>
            </li>
            <li>
              <a href="#" class="panel-refresh" (click)="refreshFiliers()">
                <span class="fa fa-refresh"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Icone</th>
                <th>Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let f of filieres">
                <td>{{f.libelleFiliere}}</td>
                <td>{{f.iconFiliere}}</td>
                <td>{{f.imgFiliere}}</td>
                <td>
                  <button class="btn btn-primary" id="action" data-toggle="modal" [attr.data-target]="'#myModalUpdate' + f.idFiliere">
                    <i style="margin-right: 0px!important" class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-danger" id="action">
                    <i style="margin-right: 0px!important" class="fa fa-trash-o"></i>
                  </button>
                  <div id="myModalUpdate{{f.idFiliere}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modifier la filière : {{f.libelleFiliere}}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-horizontal">
    
    
                              <div class="form-group">
                                <label class="col-md-3 control-label">Titre</label>
                                <div class="col-md-9">
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Titre du filière" [(ngModel)]="f.libelleFiliere" />
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Icone</label>
                                <div class="col-md-9">
                                  <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Font Awesome" [(ngModel)]="f.iconFiliere" />
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Image</label>
                                <div class="col-md-9">
                                  <input type="file" class="fileinput btn-primary" accept="image/*" name="filename" id="filename" title="Parcourir l'image"
                                  />
                                </div>
                              </div>
    
                              <div *ngIf="isLoad" style="width: 100%;text-align: center">
                                <img style="height: 50px;width: 50px" src="./../../assets/img/loaders/loader.gif" />
                              </div>
                              <div *ngIf="msgError != ''" class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                  <span aria-hidden="true">&times;</span>
                                  <span class="sr-only">Close</span>
                                </button>
                                Error
                              </div>
                              <div *ngIf="msgSuccess != ''" class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                  <span aria-hidden="true">&times;</span>
                                  <span class="sr-only">Close</span>
                                </button>
                                Success
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="updateLigne(f.idFiliere,f.libelleFiliere,f.iconFiliere)">Ajouter</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="user.role !== 'Admin'" class="row" style="text-align: center">
    <img src="../../assets/cours/404.png" style="width: 50%" />
  </div>
</div>