<div class="page-title" style="text-align: center;padding: 20px 10px">
  <div class="input-group push-down-10" style="float: right;width: 40%">
    <span class="input-group-addon"><span class="fa fa-search"></span></span>  
    <input type="text" class="form-control" (keyup)="search()" [(ngModel)]="inputSearch" placeholder="Chercher..."/>
  </div>  
</div>
<div class="page-content-wrap">
  <div class="row">
    <div class="content-frame-body content-frame-body-left" style="text-align: center" *ngIf="isVide">
      <h1>Aucun Cours</h1>
    </div>
    <div class="content-frame-body content-frame-body-left" *ngIf="!isVide">

      <div class="gallery" id="links">
        <div *ngFor="let c of cours">
          <a class="gallery-item">
            
            <div class="image" data-toggle="modal" [attr.data-target]="'#myModalCouverture' + c.idCours" title="{{c.libelleCours}}">
              <img src="{{c.imgCouverture}}" alt="{{c.libelleCours}}" />
            </div>
            <div style="font-size: 17px;overflow: hidden;text-overflow: ellipsis;width: 100%;height: 80px; margin-bottom: 5px;font-family: monospace;color: black">
              <b>{{c.libelleCours}}</b>
            </div>
            <div class="meta" style="margin-top: 15px">
              <div style="float: right;font-size: 17px;width: 100%">
                <span style="cursor: pointer;font-size: 17px;float: left" title="Voir le sommaire" (click)="showPdf(c.idCours,c.pdfSommaire)"
                  data-toggle="modal" [attr.data-target]="'#myModalSommaire' + c.idCours" class="fa fa-file-pdf-o bigger-160"></span>
                <span style="cursor: pointer;font-size: 17px;float: right" data-toggle="modal" [attr.data-target]="'#myModalMail' + c.idCours"
                  title="Envoyer une demande" class="fa fa-paper-plane bigger-180"></span>
              </div>
            </div>
          </a>

          <div id="myModalCouverture{{c.idCours}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <img src="{{c.imgCouverture}}" style="width: 100%;height: 100%" alt="{{c.libelleCours}}" />
                </div>
              </div>
            </div>
          </div>

          <div id="myModalSommaire{{c.idCours}}" class="modal fade" role="dialog">
            <div class="modal-dialog" [style.width.px]="widthWindow/2">
              <div class="modal-content" id="pdfViwer" [style.height.px]="heightWindow - 100" style="overflow: auto">
                <div class="modal-body" id="body{{c.idCours}}">
                </div>
              </div>
            </div>
          </div>

          <div id="myModalMail{{c.idCours}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Enoyer une demande pour : "{{c.libelleCours}}"</h4>
                </div>
                <div class="modal-body">
                  <div class="form-horizontal">
                    <div class="form-group">
                      <label class="col-md-4 col-xs-12 control-label">Nom</label>
                      <div class="col-md-6 col-xs-12">
                        <div class="input-group" style="width: 80%">
                          <input type="text" class="form-control" [(ngModel)]="nom" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 col-xs-12 control-label">Prénom</label>
                      <div class="col-md-6 col-xs-12">
                        <div class="input-group" style="width: 80%">
                          <input type="text" class="form-control" [(ngModel)]="prenom" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 col-xs-12 control-label">Email</label>
                      <div class="col-md-6 col-xs-12">
                        <div class="input-group" style="width: 80%">
                          <input type="email" class="form-control" [(ngModel)]="email" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 col-xs-12 control-label">Classe</label>
                      <div class="col-md-6 col-xs-12">
                        <div class="input-group" style="width: 80%">
                          <input type="text" class="form-control" [(ngModel)]="classe" />
                        </div>
                      </div>
                    </div>
                    <div *ngIf="isLoader" style="width: 100%;text-align: center">
                      <img style="height: 50px;width: 50px" src="./../../assets/img/loaders/loader.gif" />
                    </div>
                    <div class="alert alert-danger" *ngIf="msgError != ''" role="alert">
                      <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                      </button>
                      {{msgError}}
                    </div>
                    <div class="alert alert-success" *ngIf="msgSuccess != ''" role="alert">
                      <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                      </button>
                      {{msgSuccess}}
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" (click)="sendMail(c.libelleCours,c.codeCours, c.idCours)" class="btn btn-primary">Envoyer</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>