<div class="page-title" style="text-align: center;padding: 20px 10px">
  <h2 *ngIf="user.role === 'Admin'" style="float: none!important;margin-bottom: 0px!important">Mise à jour Cours</h2>
</div>
<div class="page-content-wrap">
  <div *ngIf="user.role === 'Admin'" class="row">
    <div class="col-md-12">

      <div class="form-horizontal">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <strong>Ajouter un cour</strong>
            </h3>
          </div>
          <div class="panel-body">

            <div class="row">

              <div class="col-md-6">

                <div class="form-group">
                  <label class="col-md-3 control-label">Titre</label>
                  <div class="col-md-9">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Titre de cour" />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Filiere</label>
                  <div class="col-md-9 col-xs-12">
                    <select class="form-control select">
                      <option>Management</option>
                      <option>Ingenierie</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Matiere</label>
                  <div class="col-md-9 col-xs-12">
                    <select class="form-control select">
                      <option>Programation</option>
                      <option>Marketing</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 control-label">Image Couverture</label>
                  <div class="col-md-9">
                    <input type="file" class="fileinput btn-primary" accept="image/*" name="filename" id="filename" title="Parcourir l'image"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label">Pdf Sommaire</label>
                  <div class="col-md-9">
                    <input type="file" class="fileinput btn-primary" accept="application/pdf" name="filename" id="filename" title="Parcourir le sommaire"
                    />
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="panel-footer">
            <button class="btn btn-default">Vider</button>
            <button class="btn btn-primary pull-right">Ajouter</button>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Liste des cours</h3>
          <ul class="panel-controls">
            <li>
              <a href="#" class="panel-collapse">
                <span class="fa fa-angle-down"></span>
              </a>
            </li>
            <li>
              <a href="#" class="panel-refresh">
                <span class="fa fa-refresh"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <table class="table datatable">
            <thead>
              <tr>
                <th>Titre</th>
                <th>Matiere</th>
                <th>Image couverture</th>
                <th>Pdf sommaire</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Java</td>
                <td>
                  <span class="label label-primary">Programmation</span>
                </td>
                <td>../../assets/cours/java.png</td>
                <td>../../assets/pdf/java.pdf</td>
                <td>
                  <button class="btn btn-primary" id="action" data-toggle="modal" data-target="#myModalUpdate">
                    <i style="margin-right: 0px!important" class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-danger" id="action">
                    <i style="margin-right: 0px!important" class="fa fa-trash-o"></i>
                  </button>

                  <div id="myModalUpdate" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modifier le cour : Java</h4>
                        </div>
                        <div class="modal-body">
                          <div class="form-horizontal">


                            <div class="form-group">
                              <label class="col-md-3 control-label">Titre</label>
                              <div class="col-md-9">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Titre du filière" />
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-md-3 control-label">Filiere</label>
                              <div class="col-md-9 col-xs-12">
                                <select class="form-control select">
                                  <option>Management</option>
                                  <option>Ingenierie</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-md-3 control-label">Image</label>
                              <div class="col-md-9 col-xs-12">
                                <select class="form-control select">
                                  <option>Programation</option>
                                  <option>Marketing</option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-md-3 control-label">Image Couverture</label>
                              <div class="col-md-9">
                                <input type="file" class="fileinput btn-primary" accept="image/*" name="filename" id="filename" title="Parcourir l'image"
                                />
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-3 control-label">Pdf Sommaire</label>
                              <div class="col-md-9">
                                <input type="file" class="fileinput btn-primary" accept="application/pdf" name="filename" id="filename" title="Parcourir le sommaire"
                                />
                              </div>
                            </div>

                            <div style="width: 100%;text-align: center">
                              <img style="height: 50px;width: 50px" src="./../../assets/img/loaders/loader.gif" />
                            </div>
                            <div class="alert alert-danger" role="alert">
                              <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                              </button>
                              Error
                            </div>
                            <div class="alert alert-success" role="alert">
                              <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                              </button>
                              Success
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary">Ajouter</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Marketing</td>
                <td>
                  <span class="label label-danger">Marketing</span>
                </td>
                <td>../../assets/cours/marketing.png</td>
                <td>../../assets/pdf/marketing.pdf</td>
                <td>
                  <button class="btn btn-primary" id="action">
                    <i style="margin-right: 0px!important" class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-danger" id="action">
                    <i style="margin-right: 0px!important" class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="user.role !== 'Admin'" class="row" style="text-align: center">
    <img src="../../assets/cours/404.png" style="width: 50%" />
  </div>
</div>