<div class="page-title">
  <!-- <h2><span class="fa fa-arrow-circle-o-left"></span> Accueil</h2> -->
</div>
<div class="page-content-wrap">
  <div class="row">

    <div class="content-frame-body content-frame-body-left" style="margin-top: 20px;">
      
      <div class="gallery" id="links">
           
          <a *ngFor="let f of filieres" class="gallery-item" style="cursor: pointer" [routerLink]="['/classes', f.idFiliere]" (click)="active(f.libelleFiliere)" title="{{f.libelleFiliere}}">
              <div class="image">                              
                  <img src="{{f.imgFiliere}}" alt="f.libelleFiliere"/>                                                                                                        
              </div>                             
          </a>                          

      </div>
  </div> 

  </div>
  <!-- END WIDGETS -->
</div>