html{
  background-color: white
}
.gallery {
    margin: auto;
    float: none;
    width: 75%;
  }
  .gallery .gallery-item {
    float: left;
    width: 50%;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
  }