<div class="page-title" style="text-align: center;padding: 20px 10px">
   <h2 style="float: none!important;margin-bottom: 0px!important">{{filierer}}</h2>
</div>
<div class="page-content-wrap">
  <div class="row">
      <div class="col-md-2">                        
          <a [routerLink]="['/cours', 'COURE 1']" class="tile tile-danger tile-valign">COURE 1</a>                        
      </div>                    
      <div class="col-md-2">                        
          <a [routerLink]="['/cours', 'COURE 2']" class="tile tile-danger tile-valign">COURE 2</a>
      </div>                                        
      <div class="col-md-2">                        
          <a [routerLink]="['/cours', 'COURE 3']" class="tile tile-danger tile-valign">COURE 3</a>                        
      </div>                    
      <div class="col-md-2">                        
          <a [routerLink]="['/cours', 'COURE 3']" class="tile tile-danger tile-valign">COURE 4</a>
      </div>
      <div class="col-md-2">                        
          <a class="tile tile-danger tile-valign">COURE 5</a>                        
      </div>                    
      <div class="col-md-2">                        
          <a class="tile tile-danger tile-valign">COURE 6</a>
      </div>
      <div class="col-md-2">                        
          <a class="tile tile-danger tile-valign">COURE 7</a>                        
      </div>                    
      <div class="col-md-2">                        
          <a class="tile tile-danger tile-valign">COURE 8</a>
      </div>   
      <div class="col-md-2">                        
          <a class="tile tile-danger tile-valign">COURE 9</a>                        
      </div>                    
      <div class="col-md-2">                        
          <a class="tile tile-danger tile-valign">COURE 10</a>
      </div>   
      <div class="col-md-2">                        
          <a class="tile tile-danger tile-valign">COURE 11</a>                        
      </div>                    
      <div class="col-md-2">                        
          <a class="tile tile-danger tile-valign">COURE 12</a>
      </div>   
  </div>
</div>
